triggers

{% for intent in intents %}
Intent {{ intent.name }} {% for string in intent.strings %}"{{ string }}"{% if not loop.last %}, {% endif %}{% endfor %} end
{% endfor %}

end

dialogues

{% for dialogue in dialogues %}
Dialogue {{ dialogue.name }} on: {{ dialogue.trigger }} responses: ActionGroup {{ dialogue.action_group }} Speak('{{ dialogue.speak }}') end end
{% endfor %}

end