triggers
    {% if intents %}
    {%- for intent in intents %}
    Intent {{ intent.name }}
        {%- for string in intent.strings %} 
        {{ string }}{% if not loop.last %}, {% endif %}{%- endfor %}
    end
    {% endfor -%}
    {%- endif %}
    {% if events %}
    {%- for event in events -%}
    Event {{ event.name }}
        "{{ event.uri }}"
    end
    {% endfor -%}
    {%- endif %}
end

{% if services %}
eservices
    {%- for service in services %}
    EServiceHTTP {{ service.name }}
        verb: {{ service.verb }}
        host: '{{ service.host }}'
        {%- if service.port %}
        port: {{ service.port }}
        {%- endif %}
        {%- if service.path %}
        path: '{{ service.path }}'
        {%- endif %}
    end
    {%- endfor %}
end
{% endif %}

{%- if entities %}
entities
    {%- for entity in entities %}
    Entity {{ entity.name }}
        {%- for value in entity['values'] %}
        "{{ value }}"{% if not loop.last %}, {% endif %}
        {%- endfor %}
    end
    {%- endfor %}
end
{% endif %}

{%- if synonyms %}
synonyms 
    {%- for synonym in synonyms %}
    Synonym {{ synonym.name }}
        {%- for synonym in synonym['values'] %}
        "{{ synonym }}"{% if not loop.last %}, {% endif %}
        {%- endfor %}
    end
    {%- endfor %}
end
{% endif %}

{%- if gslots %}
gslots
    {%- for gslot in gslots %}
    {{ gslot.name }}: {{ gslot.type }} = {%- if gslot.type == 'str' %} "{{ gslot.value }}"{% else %} {{ gslot.value }}{% endif %}
    {%- endfor %}
end   
{% endif %}

{%- if dialogues %}
dialogues
    {%- for dialogue in dialogues %}
    Dialogue {{ dialogue.name }}
        on: {{ dialogue.trigger }}
        responses:
          {%- for response in dialogue.responses %}
          {%- if response.type == 'Form' %}
          Form {{ response.name }}
              {%- for slot in response.slots %}
              {%- if slot.source == 'gridDataHRI' %}
              {{ slot.name }}: {{ slot.type }} = HRI({{ slot.hriString }}{% if slot.entity %}, [{{ slot.entity }}]{% endif %}{% if slot.value %}, [{{ slot.value }}]{% endif %}){% if not loop.last %} {% endif %}
              {%- elif slot.source == 'gridDataService' %}
              {{ slot.name }}: {{ slot.type }} = {{ slot.service }}(
                  {%- if slot.query %}query=[{{ slot.query }}]{% if slot.header or slot.path %}, {% endif %}{% endif %}
                  {%- if slot.header %}header=[{{ slot.header }}]{% if slot.path %}, {% endif %}{% endif %}
                  {%- if slot.path %}path=[{{ slot.path }}]{% endif %},){%- if slot.body %}[{{ slot.body }}]{%- endif %}{% if not loop.last %} {% endif %}
              {%- endif %}
              {%- endfor %}
          end,
          {%- elif response.type == 'ActionGroup' %}
          ActionGroup {{ response.name }}
              {%- for action in response.actions %}
              {%- if action.speak %}
              Speak({{ action.speak }})
              {%- elif action.uri %}
              FireEvent('{{ action.uri }}', {{ action.message }})
              {%- elif action.serviceName %}
              {{ action.serviceName }}=(
                  {%- if action.serviceQuery %}query=[{{ action.serviceQuery }}]{% if action.serviceHeader or action.servicePath or action.serviceBody %}, {% endif %}{% endif %}
                  {%- if action.serviceHeader %}header=[{{ action.serviceHeader }}]{% if action.servicePath or action.serviceBody %}, {% endif %}{% endif %}
                  {%- if action.servicePath %}path=[{{ action.servicePath }}]{% if action.serviceBody %}, {% endif %}{% endif %}
                  {%- if action.serviceBody %}body=[{{ action.serviceBody }}]{% endif %},)
              {%- elif action.gslotName %}
              SetGSlot({{ action.gslotName }}, {{ action.gslotValue }})
              {%- elif action.formSlotName %}
              SetFSlot({{ action.formSlotName }}, {{ action.formSlotValue }})
              {%- elif action.fslotName %}
              SetFSlot({{ action.fslotName }}, {{ action.fslotValue }})
              {%- endif %}
              {%- endfor %}
          end
          {%- endif %}
          {%- endfor %}
    end
    {%- endfor %}
end
{% endif %}