@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-navigations/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';

.e-sidebar {
  background: #898b2b;
}

.e-sidebar.e-left {
  border-right: 2px solid rgb(10, 5, 24);
}

.e-sidebar.e-left.e-open {
  transition: transform 1s ease;
}

.e-sidebar.e-left.e-transition.e-close {
  transition: transform 2.5s ease, visibility 1200ms;
}

.e-sidebar.e-dock {
  background: #aab8da;
}

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-dropdowns/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-popups/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-inputs/styles/material.css';
