@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-navigations/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';

.e-sidebar {
  background-color: white; /* Set the background color to white */
}

.e-sidebar.e-left {
  border-right: 2px solid rgb(10, 5, 24);
}

.e-sidebar.e-left.e-open {
  transition: transform 0.5s ease;
}

.e-sidebar.e-left.e-transition.e-close {
  transition: transform 0.5s ease, visibility 1200ms;
}

.e-sidebar.e-dock {
  background: #aab8da;
}

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-dropdowns/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-popups/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-inputs/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-notifications/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-grids/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-navigations/styles/material.css';

:root {
  --primary-color: #4f46e5; /* Indigo */
  --secondary-color: #f3f4f6; /* Light Gray */
  --text-color: #333;
  --background-color: #f9fafb;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.primary:hover {
  background-color: #5a54e0; /* Slightly lighter shade of primary color */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

button.secondary:hover {
  background-color: #333; /* Slightly lighter shade of secondary color */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

button.success:hover {
  background-color: #4caf50; /* Slightly lighter shade of success color */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

button.warning:hover {
  background-color: #ffb300; /* Slightly lighter shade of warning color */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

button.danger:hover {
  background-color: #e53935; /* Slightly lighter shade of danger color */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.label-hover-effect {
  background-color: #38a169; /* Green color */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.label-hover-effect:hover {
  background-color: #2f855a; /* Darker shade of green */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.submenu {
  font-size: 0.875rem; /* Smaller font size */
  padding: 0.5rem; /* Smaller padding */
  border: 1px solid #ccc; /* Optional: Add a border to distinguish the submenu */
  border-radius: 4px; /* Optional: Add rounded corners */
  background-color: #f9f9f9; /* Optional: Add a background color */
}

.e-grid .e-headercell {
  background-color: #111827; /* Override the header background color */
  color: #fff;
}

/* .e-grid .e-gridpager {
  font-family: cursive;
  background-color: #deecf9;
} */

/* .e-grid .e-pagercontainer {
  border: 2px solid #00b5ff;
  font-family: cursive;
} */

.e-sidebar.e-right {
  border-left: 2px solid red;
}

.e-sidebar.e-left.e-open {
  transition: transform 2.5s ease;
}

.e-sidebar.e-right.e-open {
  transition: transform 0.5s ease; /* Adjust the duration as needed */
}

.e-sidebar.e-right.e-transition.e-close {
  transition: transform 0.5s ease, visibility 0.5s; /* Adjust the duration as needed */
}

.e-menu-wrapper {
  background-color: #111827;
  color: #fff;
  width: 100%; /* Make the main menu expand all the way to the right */
  border-radius: 8px; /* Add rounded corners */
}

.e-menu-wrapper.e-menu-popup {
  background-color: #444;
  border-radius: 8px; /* Add rounded corners */
  width: auto; /* Ensure submenus do not expand to the full width */
}

.e-menu-wrapper ul .e-menu-item {
  color: #fff;
  border-radius: 8px; /* Add rounded corners */
}

.e-menu-wrapper.e-menu-popup .e-menu-item {
  color: #fff;
  border-radius: 8px; /* Add rounded corners */
}

.e-menu-wrapper ul .e-menu-item .e-caret {
  border-top-color: #fff;
}
