triggers
  {%- for intent in intents %}
  Intent {{ intent.name }}
    {%- for string in intent.strings %} 
    {{ string }}{% if not loop.last %}, {% endif %}{%- endfor %}
  end
{% endfor -%}
end

eservices
    {% for service in services -%}
    EServiceHTTP {{ service.name }}
        verb: {{ service.verb }}
        host: '{{ service.host }}'
        {%- if service.port %}
        port: {{ service.port }}
        {%- endif %}
        {%- if service.path %}
        path: '{{ service.path }}'
        {%- endif %}
    end
    {%- endfor %}
end

entities
    {% for entity in entities -%}
    Entity {{ entity.name }}
        {%- for value in entity.values %}
        {{ value }}{% if not loop.last %}, {% endif %}
        {%- endfor %}
    end
    {% endfor %}
end

dialogues
  {% for dialogue in dialogues -%}
  Dialogue {{ dialogue.name }}
      on: {{ dialogue.trigger }}
      responses:
        {% if dialogue.form -%}
        Form {{ dialogue.form.name }}
          {%- for slot in dialogue.form.slots %}
          {{ slot.name }}: {{ slot.type }} = HRI('{{ slot.prompt }}', [{{ slot.entities | join(', ') }}]){% if not loop.last %}, {% endif -%}
          {% endfor -%}
          {%- for response in dialogue.form.responses %}
          {{ response.name }}: {{ response.service }}(query=[{{ response.query | join(', ') }}], header=[{{ response.header | join(', ') }}],)[{{ response.field }}]{% if not loop.last %}, {% endif %}
          {%- endfor %}
        end,
        {%- endif -%}
        ActionGroup {{ dialogue.action_group.name }}
          Speak('{{ dialogue.action_group.speak }}')
        end
  end
  {% endfor %}
end